.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--main-color);
  background: var(--accent-color);
  background-image: repeating-linear-gradient(
      to bottom,
      var(--main-background) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--main-background) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--main-hr-f-background) 0 0.01vh,
      var(--main-hr-s-background)
    );
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: var(--accent-font-family), "fantasy";
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  border: 2px solid var(--main-color);
  background: var(--accent-color);
}

.header_logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  display: block;
  text-align: center;
  margin-block-end: 20px;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  margin-inline: clamp(0.875rem, -1.4577rem + 9.9531vw, 7.5rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.theme-menu__list {
  padding-left: 22px;
}

.theme-menu__item + .theme-menu__item {
  margin-block-start: 11px;
}

.theme-menu__button {
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: transparent;
  text-transform: uppercase;
  color: var(--main-color);
  transition: opacity 0.3s, width 0.3s;
}

.layout_whth {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}
.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-bottom: -2px;
  background: var(--main-color);
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.card {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background: var(--accent-color);
  font-variation-settings: "wght" var(--accent-font-weight);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card + .card {
  margin-block-start: 50px;
}

.card_container {
  position: relative;
}

.card_img {
  z-index: -1;
  width: 100%;
}

.img_text {
  display: inline-block;
  font-family: var(--accent-font-family), "fantasy";
  font-size: 14px;
  position: absolute;
  opacity: 0.5;
  color: var(--main-color);
  top: 25px;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
  text-shadow: 0 1px 0 var(--main-background), 1px 0 0 var(--main-background),
    0 -1px 0 var(--main-background), -1px 0 0 var(--main-background),
    1px 1px 0 var(--main-background), 1px -1px 0 var(--main-background),
    -1px 1px 0 var(--main-background), -1px -1px 0 var(--main-background);
}

.card__title {
  font-variation-settings: "wght" var(--main-font-weight);
  padding-inline-start: 10px;
  padding-block: 3px;
  font-size: 18px;
  border-bottom: 2px solid var(--main-color);
}

.card_contend {
  font-size: 18px;
  padding-inline: 27px;
  padding-block-start: 28px;
  padding-block-end: 22px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_text {
  padding-bottom: 2px;
}

.btn_like {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.card__like-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--main-color);
  background: transparent;
  position: relative;
  padding: 0;
}

.button__text {
  font-family: var(--accent-font-family), "fantasy";
  font-size: 14px;
  padding: 11px 0;
  min-inline-size: 126px;
}

.card__like-save::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.card__like-save:hover::before {
  right: 0;
  z-index: -1;
  transform: scaleX(1);
}

.card__like-save:hover {
  color: var(--accent-color);
  transition: color 1s;
  z-index: 1;
}

.card__like-save:focus,
.card__icon-button:focus .like-icon:focus {
  outline: none;
}

.card__like-save:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--sparks);
  transition: fill 0.3s 0.03s ease-in;
}
.card__icon-button:active .core {
  fill: var(--sparks);
  transition: fill 0.3s ease-out;
}

.like-icon {
  border: none;
  background: transparent;
}

.like-icon:focus-visible {
  outline: none;
  padding: 5.5px;
  border: 2px solid var(--main-color);
}

.like-icon.is-liked .contour {
  fill: var(--sparks);
  transition: fill 0.3s 0.06s ease-out;
}
.like-icon.is-liked .main-body {
  fill: var(--sparks);
  transition: fill 0.3s 0.06s ease-out;
}
.like-icon.is-liked .core {
  fill: var(--sparks);
  transition: fill 0.3s ease-out;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  cursor: pointer;
  block-size: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
}

.btn_save {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_save-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font-family), "fantasy";
  font-size: 14px;
  margin-block: 50px 100px;
  padding-block: 15px;
  cursor: pointer;
  background: var(--accent-color);
  border: 2px solid var(--main-color);
  position: relative;
  z-index: 0;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.card_save-button:hover .disc {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.dialog {
  inline-size: clamp(21.3125rem, 21.0625rem + 1.1111vw, 22.0625rem);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border: 2px solid var(--main-color);
}

.dialog_title {
  font-family: var(--accent-font-family), "fantasy";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog svg {
  min-inline-size: 39px;
}

.dialog_title-text {
  display: inline-block;
  text-transform: uppercase;
  line-height: 21px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: brightness(75%);
}

.dialof_form {
  inline-size: -webkit-fill-available;
}

.dialog_btn {
  font-family: var(--accent-font-family), "fantasy";
  font-size: 14px;
  padding-block: 15px;
  cursor: pointer;
  color: var(--main-color);
  background: var(--accent-color);
  border: 2px solid var(--main-color);
  position: relative;
  z-index: 0;
  width: 100%;
}

.dialog_btn:focus {
  outline: none;
}

.brightness {
  filter: brightness(120%);
}

.contrast {
  filter: contrast(50%);
}

.saturate {
  filter: saturate(300%);
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(0.8);
}

.hue-rotate {
  filter: hue-rotate(90deg) saturate(150%) sepia(80%);
}
.grayscale {
  filter: grayscale(0.7);
}

.blur {
  filter: blur(0.2rem);
}

@media (width <= 375px) {
  .card_save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@supports (mix-blend-mode: hard-light) {
  .img_text {
    mix-blend-mode: hard-light;
  }
}
@supports (
  (text-stroke: 1px var(--main-background)) or
    (-webkit-text-stroke: 1px var(--main-background))
) {
  .img_text {
    -webkit-text-stroke: 1px var(--main-background);
    text-stroke: 1px var(--main-background);
    text-shadow: none;
  }
}
